# Ignore credentials
.env

# Ignore Mac and Linux file system files
*.swp
.DS_Store

# Ignore data
data/repos.json
data/repos_metadata.json

# Ignore application logs
logs/

# Ignore temporay puma files
tmp/
