@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

h1 {
  text-align: center;
  padding-block: 2rem;
  cursor: default;
}

table {
  width: 100%;
  cursor: default;
}

td {
  align-content: center;
}

box {
  max-width: min-content;
}

[data-priority="high"]::before {
  display: inline-block;
  content: "‼️";
  margin-inline-end: 0.5rem;
}
[data-priority="medium"]::before {
  display: inline-block;
  content: "❗️";
  margin-inline-end: 0.5rem;
}
[data-priority="low"]::before {
  display: inline-block;
  content: "❕";
  margin-inline-end: 0.5rem;
}

[data-motivation="hot"]::before {
  display: inline-block;
  content: "🔥";
  margin-inline-end: 0.5rem;
}
[data-motivation="warm"]::before {
  display: inline-block;
  content: "😎";
  margin-inline-end: 0.5rem;
}
[data-motivation="cold"]::before {
  display: inline-block;
  content: "🥶";
  margin-inline-end: 0.5rem;
}
[data-motivation="finished"]::before {
  display: inline-block;
  content: "☑️";
  margin-inline-end: 0.5rem;
}
[data-motivation="blocked"]::before {
  display: inline-block;
  content: "⛔️";
  margin-inline-end: 0.5rem;
}
[data-motivation="dread"]::before {
  display: inline-block;
  content: "💀";
  margin-inline-end: 0.5rem;
}

p {
  margin-block-start: var(--size-1);
}

ul {
  list-style: none;
  padding: 0;
  padding-inline: 0;
  margin-inline: 0;
  display: flex;
  gap: 1rem;
  font-size: small;
}

li {
  padding-inline-start: 0;
}

.min-w-max {
  min-width: max-content;
}
